{% extends "base.html" %}
{% block main_content %}
<div class="detail_box">
    <h1>{{ book.titre }}</h1>
    
    <p><strong>Description:</strong> {{ book.description }}</p>
    
    <p><strong>Éditeur:</strong> {{ book.editeur.nom }}</p>
    
    <p><strong>Année de publication:</strong> {{ book.annee_publication }}</p>
    
    {% if book.est_disponible %}
        <form action="{% url 'reserve_book' book.isbn %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn_action">Réserver (Max 5)</button>
        </form>
    {% else %}
        <p style="color: orange;">Ce livre est déjà réservé.</p>
    {% endif %}
</div>
{% endblock %}