{% extends "base.html" %}
{% block main_content %}
<div class="detail_box">
    <h1>{{ book.title_nom }}</h1>
    <p><strong>Description:</strong> {{ book.details_txt }}</p>
    <p><strong>Editeur:</strong> {{ book.editeur_link.name_str }}</p>
    <p><strong>Sujet:</strong> {{ book.sujet_topic }}</p>
    
    {% if book.is_dispo %}
        <form action="{% url 'reserve_book' book.isbn_id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn_action">Réserver (Max 5)</button>
        </form>
    {% endif %}
</div>
{% endblock %}