{% extends "base.html" %}
{% block main_content %}
<h2>Mon Historique</h2>
<table>
    <tr>
        <th>Livre</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for res in history_items %}
    <tr>
        <td>{{ res.book_cible.title_nom }}</td>
        <td>{{ res.date_creation|date:"d/m/Y" }}</td>
        <td>{% if res.is_active %}En cours{% else %}Rendu{% endif %}</td>
        <td>
            {% if res.is_active %}
            <form action="{% url 'return_book' res.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Rendre le livre</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}