{% extends "base.html" %}
{% block main_content %}
<h1>Bibliothèque de Livres</h1>
<div class="grid_container">
    {% for item in items_list %}
    <div class="item_card">
        <h3>{{ item.titre }}</h3>
        
        <p>Année: {{ item.annee_publication }}</p>
        
        {% if item.est_disponible %}
            <a href="{% url 'reserve_book' item.isbn %}">Réserver maintenant</a>
        {% else %}
            <span style="color: red;">Indisponible</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}